@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,200&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

.header {
	width: 100%;
	background: #fff;
	padding: 35px 0px;
}

.container2 {
	width: 100%;
	max-width: 1630px;
	margin: 0 auto;
	padding: 0px 15px;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	width: 13%;
	/* flex: 0 1 190px; */
}

.header__logo img {
	width: 100%;
	height: auto;
}

.header__contact {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1 1 auto;
	padding: 0px 40px 0px 0px;
	column-gap: 45px;
}

.contact-header {}

.contact-header__item {
	display: flex;
	align-items: center;
	column-gap: 20px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: right;
	text-transform: uppercase;
	color: #000000;
}

.header__social {
	flex: 0 1 75px;
	display: flex;
	column-gap: 20px;
}

.header__social img {
	width: 40%;
	height: 40%;
	object-fit: cover;
}

@media (max-width: 1225px) {
	.header__logo {
		width: 16%;
	}

	.contact-header__item {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 24px;
		text-align: right;
		text-transform: uppercase;
		column-gap: 7px;
	}

	.header__contact {
		column-gap: 16px;
		padding: 0px 12px 0px 0px;
	}

	.header__social {
		column-gap: 15px;
	}
}

@media (max-width: 890px) {
	.contact-header__item {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		text-align: right;
		color: #000000;
	}
}

@media (max-width: 768px) {
	.contact-header__item {
		align-items: flex-end;
	}

	.contact-header__item img {
		align-self: center;
	}

	.header__inner {
		align-items: flex-end;
	}

	.header__logo {
		flex: 1 1 auto;
	}

	.header__logo img {
		width: 143px;
		height: auto;
	}

	.header__contact {
		display: flex;
		align-items: flex-end;
		justify-self: end;
		flex-direction: column;
		flex: 0 0 auto;
		/* padding: 0px 40px 0px 0px; */
		column-gap: 0px;
	}
}

@media (max-width: 550px) {
	.contact-header__item {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		/* identical to box height */

		text-align: right;
		text-transform: uppercase;

		color: #000000;
		margin: 0px 0px 5px 0px;
	}

	.contact-header__item:last-child {
		margin: 0;
	}

	.contact-header__item img {
		width: 13px;
		align-self: center;
	}

	.header__inner {
		align-items: flex-end;
	}

	.header__logo {
		flex: 1 1 auto;
	}

	.header__logo img {
		width: 107px;
		height: auto;
	}

	.header__contact {
		display: flex;
		align-items: flex-end;
		justify-self: end;
		flex-direction: column;
		flex: 0 0 auto;
		/* padding: 0px 40px 0px 0px; */
		column-gap: 0px;
	}

	.social-header__item {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 480px) {
	.contact-header__item img {
		display: none;
	}

	.header__social {
		display: none;
	}
}

/* .block-header{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;

    
}
.left{
    flex: 0 1 190px;
}

.left img {
    width: 100%;
    height: auto;
}

.header__contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1 1 auto;
    padding: 0px 30px;
}

.address{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    /* justify-content: space-around; */
/* }

.address img {
	margin-right: 20px;
	width: auto;
	height: auto;
}

.social-networks {
	display: flex;
	width: 7%;
	align-items: center;
	justify-content: space-between;
} */

/* @media (max-width: 1920px){
    
    .number{
        width: 15%;
    }
    .address {
        width: 22%;
    }
    .social-networks{
        width: 8%;
    }
} */
/* @media (max-width: 1440px) {

	.number {
		width: 23%;
	}

	.address {
		width: 35%;
	}

	.social-networks {
		width: 9%;
	}
} */

/* @media (max-width: 1341px) {
	.header {
		font-size: 15px;
	}

	.number {
		width: 18%;
	}

	.address {
		width: 24%;
	}
} */

/* @media (max-width: 1024px) {
	.header__contact {
		flex-direction: column;
	}

	.address {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		/* justify-content: space-around; */
/* } */
/* } */

/* @media (max-width: 768px) { */

/* .header{
        font-size: 7px;
    }
    .address img {
        margin-right: 20px;
        width: 12px;
        height: 12px;
    }
    .social-networks{
        width: 8%;
    }
    .social-instagram {
        width: 25px;
    } */
/* } */

/*
@media (max-width: 480px) {
    
    .infu{
       display: flex;
       flex-direction: column;
       justify-content: center;
    }
    .logo {
        width: 107.37px;
    }
    .address {
        width: 45%;
    }
    .tel {
        width: 11.67px;

    }
    .app {
        width: 11.67px;
    }
    .map {
        width: 11.67px;
    }
    .social-networks{
        width: 14%;
    }
    .social-instagram {
        width: 45%;
    }
}
@media (max-width: 375px) {

    .number{
        width: 15%;
    }
    .address {
        width: 45%;
    }
    .social-networks{
        width: 14%;
    }
} */