@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,200&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
.white-block {
  width: 100%;
  height: 1007px;
  display: flex;
  justify-content: center;
}
.white-container {
  width: 80%;
}
.about {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}
.certificate {
  margin-top: 50px;
  width: 100%;
}
.image {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
}
.img1 {
  margin-left: 72px;
  width: 300px;
  height: 450px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.img2 {
  margin-left: 72px;
  width: 300px;
  height: 450px;
  margin-top: 30px;
  margin-bottom: 70px;
}
.company-text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
}
.certificate h2 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 35px;
  color: #000000;
}
@media (max-width: 1920px) {
  .white-block {
    height: 1100px;
  }
}
@media (max-width: 1440px) {
  .white-container {
    width: 90%;
  }
  .white-block {
    height: 1200px;
  }
}
@media (max-width: 1024px) {
  .white-block {
    height: 1100px;
  }
  .white-container {
    width: 90%;
  }
  .company-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .white-block {
    height: 1220px;
  }
  .company-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .image {
    width: 90%;
    margin-right: 60px;
  }
}
@media (max-width: 480px) {
  .white-block {
    height: 1000px;
  }
  .about {
    margin-top: 20px;
    font-size: 24px;
  }
  .company-text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .image img {
    width: 45%;
    height: 60%;
  }
  .p-text {
    width: 440px;
    height: 473px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  .img1 {
    margin-left: 38px;
    margin-top: 0px;
  }
  .img2 {
    margin-left: 35px;
    margin-top: 0px;
  }
  .certificate h2 {
    font-size: 24px;
  }
}
@media (max-width: 375px) {
  .white-block {
    width: 100%;
    height: 800px;
  }

  .about {
    font-size: 16px;
    line-height: 20px;
  }
  .image {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  .img1 {
    margin: 30px;
  }
  .img2 {
    margin: 0px;
  }
  .company-text {
    font-size: 13px;
    line-height: 16px;
  }
  .certificate h2 {
    font-size: 16px;
    line-height: 20px;
  }
}
